.button-remove-car,
.button-confirm-compra {
    display: inline-block;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: orange;
    color: white;
    font-size: 11px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    position: relative;
    left: 10px;
}
.descricao-iten-carrinho {
  max-width: 78ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button-remove-car {
    background: red;
    left: 0px;
}


img {
   width: 70%;
}
