<div class='top-bar'>
  <span>
    {{key}}
  </span>
  <span class='float-right lnr lnr-heart'></span>
</div>
<div class='img'>
  <!-- <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}"> -->
  <div *ngIf="getProdutosCarrinho">
    <img src="{{getProdutosCarrinho.thumb}}" alt="">
  </div>
</div>
<div class='card-description'>
  <div class='title'>
    <div *ngIf="getProdutosCarrinho">
      <h2>{{getProdutosCarrinho.title}}</h2>

      <p>{{getProdutosCarrinho.description}}</p>
    </div>
  </div>
  <div class='cart'>
    <span class='lnr lnr-cart'></span>
  </div>
</div>
<div class='card-footer'>

  <button class="button-remove-car" (click)="removerDoCarrinho()">Remover do carrinho</button>

  <button class="button-confirm-compra" (click)="loadingFeedback()">Confirmar compra</button>
</div>
