<div class="wrapper-description">
  <div class='body'>
    <div class='container'>
      <div class="wrapper-comics">
        <div class="row">
          <div class="col-sm-5">

            <div *ngIf="getProdutosCarrinho">
              <img src="{{getProdutosCarrinho.thumb}}" alt="">
            </div>
            <div *ngIf="getProdutosCarrinho">
              <h4>{{getProdutosCarrinho.title}}</h4>

              <p>{{getProdutosCarrinho.description}}</p>
            </div>

            <button class="btn btn-danger" (click)="removeComics()">Remover do carrinho</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
