.qtd-comics {
    width: 17px;
    height: 17px;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    position: relative;
    top: -53px;
    left: 57px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    p {
        position: relative;
        top: 2px;
        left: 2px;
    }
}
