.qtd-comics {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    position: relative;
    top: -2px;
    left: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;

    p {
        position: relative;
        top: 3px;
        left: 2px;
    }
}