<app-bar-home></app-bar-home>

<div class="container">
  <div class="container-pagamentos">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{getProdutosCarrinho.thumb}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{getProdutosCarrinho.title}}</h5>
            <p class="card-text">subtotal ({{getProdutosCarrinho.quantidade}} produto)</p>
            <p class="card-text text-success">frete- grátis</p>

            <h6>Total</h6>
            <h5>US {{getProdutosCarrinho.price}}</h5>
            <button class="btn btn-success btn-block" (click)="confirmCompra()">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>Confirmar compra</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
