<app-bar-home></app-bar-home>

<div class="container">
  <div class="container-pagamentos">
    <div class="row">
      <div class="col-sm-8">
          <h4>Produto</h4>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, provident soluta voluptas assumenda ex fuga explicabo
              nulla eveniet quae esse nesciunt totam dolores, voluptates fugit cumque veniam architecto? Illo, nulla?
            </div>
            <div class="col-sm-4">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, provident soluta voluptas assumenda ex fuga explicabo
              nulla eveniet quae esse nesciunt totam dolores, voluptates fugit cumque veniam architecto? Illo, nulla?
            </div>
            <div class="col-sm-4">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, provident soluta voluptas assumenda ex fuga explicabo
              nulla eveniet quae esse nesciunt totam dolores, voluptates fugit cumque veniam architecto? Illo, nulla?
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h4>resumo do pedido</h4>
        <p>subtotal (1 produto)</p>
        <p>frete</p>

        <h4>Total</h4>
        <h5>200</h5>

        <button class="btn btn-success btn-block" (click)="loadingFeedback()"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Confirmar compra</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
