.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 1.2em;

}
.estrelas label i.fa:before {
  content:'\f005';
  color: green;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #3483fa;
}
