// .content-description{
//   background-image: url('../../assets/img/bg_marvel.gif');
//   width: 100%;
//   height: 100vh;
// }

h1, p {
  color: #3b404e;
  font-family: 'Marvel', sans-serif;
}


img {
    max-width: 100%;
}

.card-description {
    width: 570px;
    position: relative;
    bottom: 653px;
    left: 580px;
    font-size: 18px;
    color: #fff;
}

.margin-cards {
  margin-top: 110px;
}

.button-buy,
.button-voltar,
.ver-produtos {
    display: inline-block;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: orange;
    color: white;
    font-size: 11px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    position: relative;
    left: 160px;
  }
  .button-voltar {
    background: blue;
  }

  img {
    width: 64%;
}
