.wrapper {
    background-image: url('../../assets/img/bg_marvel.gif');
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
}

.card-description {
    width: 440px;
    position: relative;
    bottom: 653px;
    left: 580px;
    font-size: 18px;
    color: #fff;
}