<app-bar-home></app-bar-home>

<div class="container">
  <div class="title-cards">
    <div class="row">
      <div class="col-md-12">
        <h4>Detalhes</h4>
      </div>
    </div>
  </div>
</div>

<div class="content-description">
  <div class='body'>
    <div class='container'>
      <div class="wrapper-comics">
        <div class="row">
          <div class="col-sm-5">
            <div class="card-comic">
              <img src="{{hero.thumb}}" class="" />
            </div>
          </div>

          <div class="col-sm-7">
            <h1>{{hero.title}}</h1>
            <app-rating></app-rating>
            <ul>
              <li>Visa</li>
              <li>masterCard</li>
              <li>boleto</li>
              <p>Mais informaçoes</p>
            </ul>

            <h3>U$ {{this.hero.price }}</h3>
            <input type="number" placeholder="Quantidade" />
            <button class="btn btn-primary btn-lg" (click)="getConfirmPagamento(hero.id)">Comprar agora</button>
            <button class="btn btn-outline-primary btn-lg" (click)="adcionarAoCarrinho()">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-description">
  <div class='body'>
    <div class="container">
      <div class="col-sm-12">

        <hr>
        <h3>informações do produto</h3>

        <strong>Descricao</strong>
        <p>{{hero.description}}</p>

        <strong>Classificacao</strong>
        <app-rating></app-rating>

        <strong>Criadores</strong>
        <ul class="creators-comics">
          <li *ngFor="let criador of hero.criadores">
            {{criador.name}}
          </li>
        </ul>

        <strong>preco </strong>
        <p>{{hero.price}}</p>

        <strong>Numero de Edicao: </strong>
        <p>{{hero.numeroEdicao}}</p>

        <strong>Formato </strong>
        <p>{{hero.formato}}</p>

        <strong>Quantidade </strong>
        <p>{{hero.quantidade}}</p>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
