<div class='header'>
  <div class='title'>
    <h4>The Minimalist</h4>

    <div class="car-shopping">
        <img src="..\assets\img\car-shopping.png" alt="">
    </div>
  </div>
</div>

<div class='body'>
  <div class='container'>
    <div class="card">
      <img src="{{hero.thumb}}" />
      <p>{{hero.description}}</p>

      <div class="button" (click)="getHomepage()">
          <button>Voltar</button>
        </div>
    </div>
  </div>
</div>

<!-- 
<div class="container-descricao">
  <div class="item item2">
    <img src="{{hero.thumb}}" />

    <h2>{{hero.name}}</h2>

    <p>{{hero.description}}</p>

    <div class="button" (click)="getHomepage()">
      <p>Voltar</p>
    </div>

  </div>

</div> -->