@import url('https://fonts.googleapis.com/css?family=Marvel');

// * {
//   margin: 0;
//   padding: 0;
// }

// html,
body {
  font-family: 'Marvel', sans-serif;
  background: #fcfcfc;
  height: 100vh;
}
.header {
  z-index: 99999;
  width: 100%;
  height: 70px;
  background-color: #3b404e;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.091);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cacaca;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.footer {
  width: 100%;
  height: 133px;
  background-color: #ddd;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.091);
  justify-content: center;
  align-items: center;
  color: #333;
  font-weight: 100;
  letter-spacing: 0.3em;
  text-align: center;
  position: relative;
  bottom:0;
  width:100%;


  p {
    position: relative;
    top: 20px;
  }
}

.car-shopping {
  width: 157px;
  height: 70px;
  float: right;
  position: absolute;
  top: 0px;
  right: 48px;
  background: #fff;
  padding: 10px;
  cursor: pointer;

}

.car-shopping img {
  display: block;
  margin: 30px auto;
}

.wrapper-comics {
  height: 100%;
  width: 100%;
}

.wrapper-comics .row {
  margin: 150px auto;
}
