<div class="wrapper">
  <img src="./assets/img/logo.png" alt="">
  <h2>Cadastro realizado com sucesso!</h2>

  <p>Aguarde alguns segundos, pois em instantes será exibido as opções previamente selecionadas.</p>

  <div id='loading'>
    <div class='outer-shadow'></div>
    <div class='inner-shadow'></div>
    <div class='timer'>
      <div class='dot'>
        <span></span>
      </div>
      <div class='hold' id='left'>
        <div class='pie'></div>
      </div>
      <div class='hold' id='right'>
        <div class='pie'></div>
      </div>
    </div>
  </div>
</div>

