<app-bar-home></app-bar-home>

<div class='body'>
  <div class='container'>
    <div class='card' *ngFor="let hero of heroes">
      <div class='card-content'>
        <div class='top-bar'>
          <span>
            {{hero.prices[0].price | json}}
          </span>
          <span class='float-right lnr lnr-heart'></span>
        </div>
        <div class='img'>
          <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}">
        </div>
      </div>
      <div class='card-description'>
        <div class='title'>
          {{hero.name}}
        </div>
        <div class='cart'>
          <span class='lnr lnr-cart'></span>
        </div>
      </div>
      <div class='card-footer'>

        <h4>Series</h4>

        <div class='span'>
          {{hero.series.name}}
        </div>
        <button (click)="getDescription(hero.id)">Ver detalhes</button>
      </div>
    </div>
  </div>
</div>
